/* Reset styles for all elements */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
}

/* Styling for the navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; /* Center align the text within the navbar */
    width: 100%;
    height: 80px;
    background: #072019;
}

.navbar h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    padding: 0px 20px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navmenu li{
    display: inline-block;
}

.navmenu li a{
    color: #ffffff;
    margin-right: 20px;
    padding: 0px 8px;
    font-size: 18px;
    font-weight: 500;
}

.search-box .search{
    padding:12px 8px;
    border-radius: 50px;
    font-size: 16px;
    
}

.search-box .search i{
    color:#ffffff;
    position: relative;
    right: 50px;
    top: 2px;
    background: #910b28;
    padding: 12px;
    border-radius: 50px;
}
.navmenu .search-box{
    color:#ffffff;
    position: relative;
    right: 50px;
    top: 2px;
    padding: 12px;
    border-radius: 50px;
}

header{
    background: #e7f0f3ac;
    width:100%;
    height: 125vh;
}

.main-header{
    width: 75%;
    margin: auto;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-header h5{
    font-size: 22px;
    color: #0b910b;
    font-weight: 550;
}
.main-header h2{
    font-size: 48px;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.main-header p{
    margin-bottom: 60px;
}

.main-header.btn{
    background: #0b910b;
    border: 1px solid #0b910b;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.5s;
}

.main-header.btn:hover{
    color: #0b910b;
    background: #ffffff;
}

.main-header.btn:hover{
    color: #0b910b;
    background: #ffffff;
}

.main-header img{
    width: 560px;
    height: auto;
}

/*------------------Categories Section-------------------*/

#categories{
    width: 100%;
    padding: 80px 0px;
    background: #e7f0f3ac;
}

.cat-header{
    text-align:center;
    padding: 20px 0;
}

section{
    width: 95%;
    margin:auto;
    padding-bottom: 150px;

}

.cat-header h2{
    font-size: 38px;
    padding-bottom: 14px;

}

.cat-books{
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}

.cat-books .books{
    width: 360px;
    height: auto;
    padding: 20px 30px;
    position: relative;


}

.cat-books .book.jpg{
    background-color: #e7f0f3ac;
    padding: 18px;
    border-radius:  50%;
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    left: 35%;
}

.cat-books .books img{
    width:100%;

}

.cat-books .books h4{
   margin-top: 16px;
   font-size: 22px;
   position: relative;
   left: 5%
}

.cat-books .books p{
    font-size: 18px;
    padding-top: 10px;
    
}

.menubar i{
    color: #910b28;
    font-size: 30px;
    padding-right: 20px;
    position: absolute;
    top: 22px;
    right: 40px;
    cursor: pointer;
}

/*------------------About Section-------------------*/
.set-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: auto;

}

.set-row img{
    width:680px;
    height: auto;
}

#about{
    background: #e7f0f3ac;
    width: 100%;
    padding: 80px 0px;
}

.set-row .about-content{
    padding-left: 30px;
    margin-bottom: 60px;
}

.set-row .about-content h2{
    font-size: 42px;
    padding-bottom: 20px;
}

.set-row .about-content p{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
}

.set-row .about-content .btn2{
    background: #0b910b;
    border: 1px solid #0b910b;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all 0.5s;
}

.set-row .about-content .btn2:hover{
    color: #0b910b;
    background: #ffffff;
}

/*------------------Blog Section-------------------*/

.blog-header{
    text-align:center;
    font-size: 35px;
    padding: 40px 0;
}

.set-row .col{
    padding-top: 20px;
    width: 480px;
    position: relative;
}

.set-row .col img{
    width: 100%;
    height: auto;
}

.set-row .col h4{
    font-size: 24px;
    padding: 12px 0;
    margin-top: 14px;
}

.set-row .col p{
    font-size: 18px;
    padding: 12px 0;
}

.st-row .col a{
    font-size: 20px;
    color: #0b910b;
    font-weight: 500;
    padding: 12px 0;
}

.set-row .col a:hover{
    color: #910b28;
}

.set-row .col .dates{
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 50px;
}

.set-row .col .dates span{
    background:#072019;
    color:#ffffff;
    padding: 12px 20px;
    font-size: 18px;
}


/*------------------Contacts Section-------------------*/
#contacts{
    background:#e7f0f3ac;
    width: 100%;
}

.contact-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: auto;
    padding-top: 40px;
}

.contact-row form{
    width: 450px;
    padding: 12px 0;
}
.contact-row form input, textarea{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 6px 0;
    text-indent: 10px;
    font-size: 18px;
    background-color: #e7f0f3ac;
}
.contact-row form input::placeholder,
textarea::placeholder{
    color:#072019;
}
.contact-row form input[type="submit"]{
    text-align: center;
    height: 50px;
    cursor: pointer;
    background-color: #0b910b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
}

.contact-row form input[type="submit"]:hover{
    border: 1px solid #0b910b;
    color:#0b910b;
    background: #ffffff;
}

.contact-row .col img{
    width: 530px;
    height: auto;
    padding-left: 20px;
}

.contact-row .col h2{
    font-size: 24px;
    font-weight: 600;
}

.footer{
    background: #ffffff;
    padding: 26px 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/*------------------Responsive Section-------------------*/

@media(max-width:1420px){
    .set-row{
        display: block;
    }

    .contact-row{
        display: block;
    }
}

@media(max-width:991px){
    .navmenu{
        display: block;
        position: absolute;
        right: 100%;
        top: 10%;
        width: 300px;
        height: auto;
        background: #072019;

    }
    .navmenu li{
        display: block;
        line-height: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .search-box{
        text-align: center;
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .navmenu.open{
        right: 0;
    }

    .cat-books .books .book-img{
        position: relative;
        left: 25%;
    }

    .main-header h2{
        font-size: 35px;
    }

    .main-header p{
        padding-bottom: 20px;
    }

    .set-row{
        display: block;
    }

    .set-row img{
        width: 400px;
        height: auto;
    }
    .set-row .col{
        padding-top: 20px;
        width: 380px;
        position: relative;
    }

    .set-row img{
        width: 480px;
        height: auto;
    }

    .set-row .col{
        width: 420px;
    }

    .set-row .col img{
        width: 100%;
    }

    .set-row .dates{
        position: absolute;
        top: 60%;
        left: 5%;
    }

    .contact-row form{
        width: 430px;
        height: auto;
        padding-left: 0px;
    }

}

@media(max-width:890px){
    .main-header{
        width: 100%;
        display:block;
        align-items: center;
        text-align: center;
        margin: 60px 0;
    }

    .main-header h2{
        width: 100%;
    }

    .main-header p{
        margin-bottom: 20px;
    }

    .main-header img{
        width: 360px;
        height: auto;
        margin-top: 30px;
    }

    .set-row .about-content h2{
        font-size: 28px;
        padding-bottom: 20px;
    }

    .set-row .about-content p{
        width: 300px;
    }

    .cat-books{
        display: block;
        position: relative;
        left: 0%;

    }

    .cat-books .books .book-img{
        position: relative;
        left: 35%;
    }

    .set-row .col{
        width: 350px;
    }

    .set-row .col .dates{
        position: absolute;
        top: 25px;
        left: 5%;
    }

    .contact-row .col img{
        width: 320px;
        height: auto;
        padding-left: 0px;
    }

    .contact-row form input{
        height: 20px;
    }

}

@media(max-width:460px){
    section{
        padding-top: 80px;
    }

    .main-header img{
        width: 260px;
    }

    .cat-books .books{
        width: 260px;
    }

    .cat-books .books .book-img{
        position: relative;
        left: 25%;
    }

    .set-row img{
        width: 33px;
        height: auto;
    }
    .set-row .col{
        width: 280px;
    }
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container object{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
